// import
@import "utilities";
@import "btnConfig.scss";
@import "config";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.hero {
  // This is where the bulk of the SCSS styling needs to be done

  // Take a look at the other files we've built already. How can they be useful here?

  // Also, take time to review the features of SCSS we've already covered:
  // 1. $variables
  // 2. nesting (dont forget about the ampersand (&) parent selector!)
  // 3. At-Rules

  @include set-bg($primary-color);

  nav {
    align-items: center;
    justify-content: space-between;
    // put items in nav from left to right
    display: flex;

    ul {
      // get rid of bullet list
      list-style-type: none;
      // displays list from left to right
      display: flex;
    }

    li {
      // put space between each item in the nav list
      padding: 12px;
    }

    a {
      // change font color from blue to white
      color: text-color-picker($primary-color) 
    }
  }

  &-content {
    // displays from left to right
    display: flex;
    // lowers words to the middle of the page
    align-items: center;
    // add space between nav and -content
    margin-top: 40px;
    
    img {
      // make the image smaller
      width: 52%;
    }

    h1 {
      font-size: 45px;
    }
  }
}

// This code is related to some of the aspects of SCSS we have yet to cover.
// While you don't have to mess with it, it would be advisable to attempt to understand its functionality.
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
